setuptools==62.5.0
absl-py==1.1.0
astor==0.8.1
gast==0.4.0
grpcio==1.46.3
imageio==2.19.3
Markdown==3.3.7
mido==1.2.10
numpy==1.22.4
Pillow==9.1.1
pretty_midi==0.2.9
protobuf==3.19.4
pypianoroll==1.0.4
PyYAML==6.0
scipy==1.8.1
SharedArray==3.2.1
six==1.16.0
tensorboard==2.9.1
tensorflow-gpu==2.9.1
termcolor==1.1.0
Werkzeug==2.1.2
